# Node / TypeScript
node_modules/
dist/
.env

# Prisma
backend/prisma/migrations/

# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Modelos treinados
ai/models/*.pt
ai/models/*.h5
ai/models/*.onnx

# OS / IDE
.vscode/
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
